<div class="columns">
  <div class="column-1">
    <app-card
    [name]="cardForm.value.name"
    [cardNumber]="cardForm.value.cardNumber"
    [expiration]="cardForm.value.expiration"
    >
    </app-card>
  </div>
  <div class="column-2">
    <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
      <!--using $any to disable any type checking here-->
      <app-input label="Name" [control]="$any(cardForm).get('name')"></app-input>
      <app-input label="Card Number" [control]="$any(cardForm).get('cardNumber')"></app-input>
      <div>
        <div>
          <app-input label="Expiration (MM/YY)" [control]="$any(cardForm).get('expiration')"></app-input>
        </div>
        <div>
          <app-input label="Security Code" [control]="$any(cardForm).get('securityCode')"></app-input>
        </div>
      </div>
      <div class="buttons">
        <button class="primary"
          [disabled]="cardForm.invalid"
          type="submit"
          >Submit
        </button>
        <button
          class="warning"
          type="button"
          (click)="onResetClick()"
          >
          Reset
        </button>
      </div>
    </form>
  </div>
</div>

